html {
	overflow-x:hidden;	
}

body {
	font-family: 'titilliumregular';
	background:url(../images/bg.jpg);
	overflow-x:hidden;
}

a,
a:hover,
a:focus {
	text-decoration:none;
	outline:0;
}

/*View Styles*/

.view {
	float:left;
}

/*Header Styles*/

header {
	background: #2E282A;
	width:100%;
	height:65px;
	border-bottom:#D0D0D0 5px solid;
	font-family: 'titillium_bdbold';
	font-size:30px;
}

#logo img {
	vertical-align: top;
}

#logo-text {
	color:#FE5F55;
	padding: 11px;
	line-height: 1.7em;
}

#logo-text:hover {
	color:#0179BA;	
}

/*Nav*/

nav {
	line-height:1.7em;
}

nav a,
nav a:focus {
	margin-left:40px;
	color:#CAEFFE;
}

nav a:hover {
	color:#0179BA;
}

/*Content*/

.circle {
	background:#000000;
	width:100%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border:10px solid #D0D0D0;
	margin:20px auto;
	overflow:hidden;
	cursor:pointer;
	position:relative;
	-webkit-backface-visibility: hidden;
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.inner-circle {
	width:100%;
	height:100%;
	overflow:hidden;
	border-radius:50%;
	position:relative;
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.circle img {
	width:130%;
	margin-left:-50px;
}

.circle .circle-caption {
	background:#2E282A;
	font-size:20px;
	text-align:center;
	width:100%;
	height:27%;
	display:block;
	position:absolute;
	bottom:0;
	left:0;
	color:#CAEFFE;
	padding-top:3%;
	-webkit-backface-visibility: hidden;
}

.circle .circle-caption.hover {
	height:100%;
	background:#0179BB;
}

.circle .role,
.circle .project {
	display:block;
}

.circle .project.hover {
	margin-top:25%;
}

.circle .choice-container {
	width:100%;
	height:50px;
	display:block;
	margin-top:300px;
}

.circle.hover .choice-container {
	margin-top:20px;
}

.circle .choice {
	width:50px;
	height:50px;
	border-radius:50%;
	border:2px solid #FFFFFF;
	background:#CC0000;
	display:block;
}

.circle .choice:hover {
	background:#FFFFFF;
	border:2px solid #333333;
}

.circle .choice i {
	color:#FFFFFF;
	margin-top:10px;
	margin-left:2px;
}

.circle .choice:hover i {
	color:#0179BA;
}

.circle .choice.website {
	float:left;
	margin-left:30%;
}

.circle .choice.learn {
	float:right;
	margin-right:30%;

}

.circle .prompt {
	margin-top:10px;
	color:#FFFFFF;
	display:block;
}

#viewport {
	-webkit-transition: all 500ms cubic-bezier(0.285, 0.970, 0.425, 0.920);
	-moz-transition: all 500ms cubic-bezier(0.285, 0.970, 0.425, 0.920);
	-o-transition: all 500ms cubic-bezier(0.285, 0.970, 0.425, 0.920);
	transition: all 500ms cubic-bezier(0.285, 0.970, 0.425, 0.920);
	-webkit-transition-timing-function: cubic-bezier(0.285, 0.970, 0.425, 0.920);
	-moz-transition-timing-function: cubic-bezier(0.285, 0.970, 0.425, 0.920);
	-o-transition-timing-function: cubic-bezier(0.285, 0.970, 0.425, 0.920);
	transition-timing-function: cubic-bezier(0.285, 0.970, 0.425, 0.920);
}

/*Interior Pages*/

.view {
	margin-top:40px;
}

.int-img {
	width:90%;
	border:#D0D0D0 10px solid;
}

.project-buttons {
	position:relative;
	margin-top:25px;
}

.project .project-title {
	font-family: 'titillium_bdbold';
	color:#443A3D;
	font-size:28px;
}

.project .project-role {
	font-family: 'titilliumlight_italic';
	color:#443A3D;
	font-size:17px;
}

.project p {
	font-family: 'titilliumregular';
	font-size:16px;
	color:#2E282A;
}

.project-buttons .go-to-site,
.project-buttons .contact-alan,
.project-buttons .next-project,
.project-buttons .prev-project {
	font-family: 'titilliumregular';
	font-size:14px;
	color:#FFFFFF;
	padding:7px 12px;
	background:#CC0000;
	border-radius:5px;
}

.project-buttons .prev-next-container {
	width:100%;
	margin-top:20px;
}

.project-buttons .next-project i {
	margin-left:5px;
}

.project-buttons .prev-project i {
	margin-right:5px;
}

.project-buttons .go-to-site:hover,
.project-buttons .contact-alan:hover,
.project-buttons .next-project:hover,
.project-buttons .prev-project:hover {
	background: #0179BB;
}


/*Footer*/

footer {
	width:100%;
	padding:20px 0px 40px 0px;
	background:#2E282A;
	clear:both;
}

footer h1 {
	font-size:28px;
	font-family: 'titillium_bdbold';
	color:#CC0000;
	text-transform:uppercase;
}

footer p {
	font-family: 'titilliumregular';
	color:#FFFFFF;
	font-size:16px;
}

footer #linkedin {
	width:55px;
	height:55px;
	display:block;
	background:#FFFFFF;
	border-radius:50%;
	text-align:center;
}

footer #linkedin i {
	color:#2E282A;
	font-size:30px;
	margin-top:10px;
}

footer #linkedin.hover {
	background:#CC0000;
}

footer #linkedin.hover i {
	color:#FFFFFF;
}

footer form label {
	color:#FFFFFF;
	font-weight:300;
}

#submit {
	color:#FFFFFF;
	background:#CC0000;
	border:none;
}



/*****************/
/**Media Queries**/
/*****************/

/*Tablet Landscape Styles*/
@media screen and (max-width: 1199px) {
	.ru-lg {
		display:none;
	}
}

@media screen and (min-width: 1199px) {
	.ro-lg {
		display:none;
	}
}

/*Tablet Portrait Styles*/
@media screen and (max-width: 992px) {
	.ru-md {
		display:none;
	}

	.circle .choice.website {
		margin-left:20%;
	}

	.circle .choice.learn {
		margin-right:20%;
	}

	.circle.hover .choice-container {
		margin-top:10px;
	}

	.circle .prompt {
		display:none;
	}
}

@media screen and (min-width: 992px) {
	.ro-md {
		display:none;
	}
}

/*Smartphone Styles Landscape*/
@media screen and (max-width: 768px) {
	.ru-sm {
		display:none;
	}

	#logo img {
		margin-top: 0px;
	}

	.circle {
		width:60%;
	}

	.circle.hover .choice-container {
		margin-top:20px;
	}

	.circle .choice.website {
		margin-left:30%;
	}

	.circle .choice.learn {
		margin-right:30%;
	}

	.circle .prompt {
		display:block;
	}

}

@media screen and (min-width: 768px) {
	.ro-sm {
		display:none;
	}

}

/*Smartphone Styles Portrait*/
@media screen and (max-width: 480px) {
	.ru-xs {
		display:none;
	}

	.circle {
		width:100%;
	}
}

@media screen and (min-width: 480px) {
	.ro-xs {
		display:none;
	}
}

/*Small Smartphone Styles Portrait*/
@media screen and (max-width: 350px) {
	nav a {
		margin-left:20px;
	}

	.circle .choice.website {
		margin-left:23%;
	}

	.circle .choice.learn {
		margin-right:23%;
	}
}

@media screen and (min-width: 350px) {

}

/*Utility Styles*/

/*additional bootstrap counter code and js utils*/
.vert-50 {
	width:100%;
	height:50%;
	float:left;
	position:relative;
}

.vert-3 {
	width:100%;
	height:33.3%;
	float:left;
	position:relative;	
}

.spin {
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.spin.spun {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

.zoom {
	-moz-transform: scale(0);
	-webkit-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.zoom.zoomed {
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.box-relative {
	position:relative;
	width:100%;
	height:100%;
	display:block;
}

.transitioner {
	-webkit-transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-moz-transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-o-transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
	transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.transitioner-m {
	-webkit-transition: all 500ms cubic-bezier(0.550, 0.055, 0.675, 0.190); 
	-moz-transition: all 500ms cubic-bezier(0.550, 0.055, 0.675, 0.190); 
	-o-transition: all 500ms cubic-bezier(0.550, 0.055, 0.675, 0.190); 
	transition: all 500ms cubic-bezier(0.550, 0.055, 0.675, 0.190);
	-webkit-transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190); 
	-moz-transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190); 
	-o-transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190); 
	transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
}

.transitioner-l {
	-webkit-transition: all 900ms cubic-bezier(0.550, 0.055, 0.675, 0.190); 
	-moz-transition: all 900ms cubic-bezier(0.550, 0.055, 0.675, 0.190); 
	-o-transition: all 900ms cubic-bezier(0.550, 0.055, 0.675, 0.190); 
	transition: all 900ms cubic-bezier(0.550, 0.055, 0.675, 0.190);
	-webkit-transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190); 
	-moz-transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190); 
	-o-transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190); 
	transition-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
}

.transitioner-xl {
	-webkit-transition: all 7000ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
	-moz-transition: all 7000ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
	-o-transition: all 7000ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
	transition: all 7000ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
	-webkit-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
	-moz-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
	-o-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
	transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
